*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100vh;
}
body{
    font-size: 16px;
    background: rgb(23, 20, 26);
}

img{
    max-width: 100%;
    max-height: 100%;
}

header{
    background: linear-gradient(to top, rgb(23, 20, 26) 20%, transparent), 
        url('img/Bg-c.jpg');
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    overflow: hidden;

}

@media screen and (min-width: 650px){
    header{
        height: 100vh;

    }
}



@media screen and (min-width: 400px){
    header {
        background-size: cover;
    }
}

header{
    display: flex;
    flex-direction: column;
}


header .Bar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header .Logo{
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


header .Logo::before{
    display: inline-block;
    content: '';
    background: rgb(92, 11, 11);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

@media screen and (min-width: 400px){
    header .Logo {
        font-size: 1.4rem;
    }

    header .Logo::before{
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 650px){
    header .Bar{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;

    }
}





header .NavBar {
    display: none;
    flex-direction: column;
    align-items: center;

}
@media screen and (min-width: 650px){
    header .NavBar {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

    }
}


header .NavBar a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 7px 16px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid transparent;
    transition: all .5s ease;

}
header .NavBar a:hover{
    border-bottom: 2px solid #fff;
}

header .Hero{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    position: relative;
    left: 10%;
    top: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 1;
    font-size: 3rem;
}

@media screen and (min-width: 400px){
    header .Hero{
        font-size: 3.6rem;
    }
}
@media screen and (min-width: 650px){
    header .Hero{
        font-size: 5rem;
    }
}

header .Hero .Subtitle{
    margin: 5px;
    font-size: 15px;
}
@media screen and (min-width: 650px){
    header .Hero .Subtitle{
        font-size: 1.5rem;

    }

}

main{
    margin: 10px auto;
}
.PlacesCards{
    width: 80%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10%;
}
@media screen and (min-width: 400px){
    .PlacesCards{
        width: 100%;
    }
}
@media screen and (min-width: 650px){
    .PlacesCards{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.Places .Title, .Reviews .Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom: 10%;
    width: 100%;
}
@media screen and (min-width: 400px){
    .Places .Title hr{
        width: 70% !important;

    }
}

.Places .Title .SubtitlePlaces, .Reviews .Title .SubtitleReviews{
    font-size: .5rem;
    font-weight: 100;
    margin-bottom: 5px;
}

.Places .Title .TitlePlaces, .Reviews .Title .TitleReviews{
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 400px){
    .Places .Title .SubtitlePlaces, .Reviews .Title .SubtitleReviews{
        font-size: .8rem;
    }   

    .Places .Title .TitlePlaces, .Reviews .Title .TitleReviews{
        font-size: 1.3rem;
    }
}


.Places .Place{
    position: relative;

    overflow: hidden;
    
    background: linear-gradient(to top, rgb(23, 20, 26), transparent), 
    url('img/Wakayama.jpg');
    background-size: cover;
    background-position-x: -100px;

    width: 70%;
    height: 300px;

    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: transparent;


    margin: 10px 0;

    transition: all 0.5s ease-out
}
@media screen and (min-width: 400px){
    .Places .Place{
        width: 45%;
    }
}
@media screen and (min-width: 650px){
    .Places .Place{
        width: 200px;
        margin-right: 20px;
    }
    .PlacesCards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}



.Places .Toris{
    background: linear-gradient(to top, rgb(23, 20, 26), transparent), 
    url('img/100Toris.jpg');

    background-size: cover;
    background-position-x: -150px;
    text-align: center;
}

.Places .Arashiyama{
    background: linear-gradient(to top, rgb(23, 20, 26), transparent), 
    url('img/Kioto.jpg');

    background-size: cover;
    background-position-x: -150px;
    text-align: center;
}

.Places .Hitachi{
    background: linear-gradient(to top, rgb(23, 20, 26), transparent), 
    url('img/Hitachi.jpg');

    background-size: cover;
    background-position-x: -150px;
    text-align: center;
}


.Places .Himeji{
    background: linear-gradient(to top, rgb(23, 20, 26), transparent), 
    url('img/Himeji.jpg');

    background-size: cover;
    background-position-x: -150px;
    text-align: center;
}




.Places .Place:hover, .Places .Place:hover > .LearnMore{
    color: #fff;

    border: 1px solid #fff;

    background: linear-gradient(to top, rgb(81, 20, 141), transparent), 
    url('img/Wakayama.jpg');
    background-size: cover;
    
}
.Places .Toris:hover, .Places .Toris:hover > .LearnMore{
    background: linear-gradient(to top, rgb(81, 20, 141), transparent), 
    url('img/100Toris.jpg');
    background-size: cover;
}

.Places .Arashiyama:hover, .Places .Toris:hover > .LearnMore{
    background: linear-gradient(to top, rgb(81, 20, 141), transparent), 
    url('img/Kioto.jpg');
    background-size: cover;
}

.Places .Hitachi:hover, .Places .Toris:hover > .LearnMore{
    background: linear-gradient(to top, rgb(81, 20, 141), transparent), 
    url('img/Hitachi.jpg');
    background-size: cover;
}
.Places .Himeji:hover, .Places .Toris:hover > .LearnMore{
    background: linear-gradient(to top, rgb(81, 20, 141), transparent), 
    url('img/Himeji.jpg');
    background-size: cover;
}




.Places .Place:hover > .LearnMore{
    background: none;
}






.Places .Place .PlaceName{
    text-transform: uppercase;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;


    font-size: 1.5rem;

    margin-bottom: 30%;
   
}

@media screen and (min-width: 400px){
    .Places .Place .PlaceName{
        font-size: 1rem;
    }
}

.Places .Place .LearnMore{
    text-transform: uppercase;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 200;


    font-size: .6rem;
    padding: 10px 20px;
    
    border-radius: 5px;

    cursor: pointer;
}

@media screen and (min-width: 400px){
    .Places .Place .LearnMore{
        font-size: .8rem;
    }
}













.Reviews .ReviewsBody{
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;

}


.Reviews .ReviewsBody .ProfileImage{
    width: 50%;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}

@media screen and (min-width: 400px){
    .Reviews .ReviewsBody .ProfileImage{
        width: 30%;
    }
}
@media screen and (min-width: 650px){
    .Reviews .ReviewsBody .ProfileImage{
        width: 200px;
    
    }
}

.Reviews .ReviewsBody .ProfileImage img{
    vertical-align: middle;
}

.Reviews .ReviewsBody .Name{
    margin: 20px auto;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

}

@media screen and (min-width: 400px){
    .Reviews .ReviewsBody .Name{
        font-size: 1.7rem;
        margin: 10px auto;
    }
}

.Reviews .ReviewsBody .ReviewText{
    margin: 0 auto;
    padding: 20px;
    font-style: italic;
    text-indent: 30px;
    color: #383838;
    position: relative;
    font-family: 'Roboto', sans-serif;
    
}
@media screen and (min-width: 400px){
    .Reviews .ReviewsBody .ReviewText{
        padding: 20px;
    }
}
@media screen and (min-width: 650px){
    .Reviews .ReviewsBody .ReviewText{
        max-width: 1000px;
    }
}

.Reviews .ReviewsBody .ReviewText:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #000000;
}

.Contact{
    position: relative;
    padding: 30px 0;
    
}

.Form{
    
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    
}




.FormTitle{
    margin-bottom: 15px;
    font-weight: 800;
}
@media screen and (min-width: 400px){
    .FormTitle{
        font-size: 2rem;
    }
}


.Field input, .SuscribeInput{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(71, 71, 71);
    margin-bottom: 10px;
}

@media screen and (min-width: 400px){
    .Field input, .SuscribeInput{
        width: 80%;
    }

    .Field{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 650px){
    .Field{
        width: 50%;

    }
}

.TextArea{
    max-width: 250px;
    min-width: 150px;
    min-height:200px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}
@media screen and (min-width: 400px){
    .TextArea{
        max-width: 300px;
        min-width: 200px;

    }
}
@media screen and (min-width: 650px){
    .TextArea{
        max-width: 500px;
        min-width: 200px;

    }
}

input[type="submit"]{
    display: none;
}

.Send, .SendSuscribe{
    font-family: 'Roboto', sans-serif;

    background: #000;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;

    transition: all .4s ease;
}

@media screen and (min-width: 400px){
    .Send, .SendSuscribe{
        padding: 10px 40px;
        font-size: 1.3rem;

    }

}

.Send:hover, .SendSuscribe:hover{
    background: #fff;
    color: #000;
}

.ContactInfo{
    margin: 10px 0;
    position: relative;
    text-align: center;
}

.ContactInfo .Logo{

    padding: 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.ContactInfo .Logo::before{
    display: inline-block;
    content: '';
    background: rgb(92, 11, 11);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (min-width: 400px){
    .ContactInfo .Logo{
        font-size: 1.4rem;
    }
    .ContactInfo .Logo::before{
        width: 40px;
        height: 40px;
    }

}


.ContactInfo .Info{
    margin: 10px 0;
}

footer{
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;


}
@media screen and (min-width: 650px){
    footer{
        display: flex;
        flex-direction: row;
        padding: 30px;
        justify-content: space-around;
    }
}

.GetIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}


.GetInTitle{
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.SuscribeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SuscribeInput{
    padding: 7px 15px;
    font-size: 1rem;
    
}

.SocialMedias{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
}

.Social{
    margin-bottom: 10px;
    text-transform: uppercase;
}
@media screen and (min-width: 650px){
    .SocialMedias{
        border-left: 2px solid #000;
        padding-left: 20px;
        justify-content: center;
    }
}

.Social i{
    font-size: 2rem;
    margin-right: 10px;

}
